doctype html
html(lang='en')
	head
		title ATTT
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		link(rel='stylesheet', type='text/css', href='style.css')
		style body {padding-top: 50px;}
		script(src='jquery.bubble.text.js')
		script(src='script.js')

	body
		div.container
			h1
				text Giải toán chấm gà
				br
				hr
			h3
				a(href='/')
					span#faculty Số nguyên tố

				|  | 
				a(href='/rsa')
					span#school  RSA
				|  | 
				a(href='/ma_hoa_co_dien')
					span#university  Chữ ký
				br
				br
			div.jumbotron
				h1 Bấm vào cái nút dưới này này
				div.panel.panel-default
					div.panel-body
						form(action='')
							input#love(type = 'button' value = 'submit')
						h4#result
			div.jumbotron
				h4 Số nguyên tố
				div.panel.panel-default
					div.panel-body
						form(action='')
							select#sl
								option(value= '1') Kiểm tra
								option(value= '2') Lớn hơn gần nhất
								option(value= '3') Nhỏ hơn gần nhất
							text    &nbsp;&nbsp;&nbsp;
							input#number( type = 'text' size = '6')
							text    &nbsp;
							input#sb(type = 'button' value = 'submit')
						h4#result9
			div.jumbotron
				h4 Phân tích 1 số thành thừa số nguyên tố
				div.panel.panel-default
					div.panel-body
						form(action='')
							text    &nbsp;&nbsp;&nbsp;
							input#number2( type = 'text' size = '6')
							text    &nbsp;
							input#sb2(type = 'button' value = 'submit')
						h4#result2
	script.
		$(document).ready(() => {
			$('#love').click(abc = () => {
				$.get('love', (data, status) => {
					$('#result').html(data);
				})
			})

			$('#sb').click(abc = () => {
				let number = $('#number').val();
				let option = $('#sl').val();
				$.post('check_prime_number', 'number='+number +'&option='+option ,(data, status) => {
				$('#result').html(data);
				})
			})
			$('#sb2').click(abc = () => {
				let number = $('#number2').val();
				$.post('parser_prime_number', 'number='+number,(data, status) => {
					$('#result2').html(data);
				})
			})
		});