doctype html
html(lang='en')
	head
		title ATTT
		link(rel='stylesheet' href='./css/bootstrap.min.css')
		script(src="jquery-3.2.1.min.js")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		style body {padding-top: 50px;}
	body
		div.container
			h1
				text Giải toán chấm gà
				br
				hr
			h3
				a(href='/')
					span#faculty Số nguyên tố

				|  | 
				a(href='/rsa')
					span#school  RSA
				|  | 
				a(href='/ma_hoa_co_dien')
					span#university  Mã hóa cổ điển
				br
				br
			div.jumbotron
				h4 Bảng chuyển chữ thành số
				div.panel.panel-default
					div.panel-body
						form(action='')
							input#show_table(type = 'button' value = 'submit')
						h4#result
			div.jumbotron
				h4 Chuyển văn bản sang Số
				div.panel.panel-default
					div.panel-body
						form(action='')
							text    &nbsp;&nbsp;&nbsp;
							input#vanban( type = 'textarea')
							text    &nbsp;
							input#convert(type = 'button' value = 'submit')
						h4#result2

	script.
		$(document).ready(() => {
			$('#show_table').click(abc = () => {
				$.get('show_table_number_text',(data, status) => {
					$('#result').html(data);
				})
			})
			$('#convert').click(abc = () => {
				let vanban = $('#vanban').val();
				$.post('convert_text_to_number','vanban=' + vanban, (data, status) => {
					$('#result2').html(data);
				})
			})
		});