doctype html
html(lang='en')
	head
		title ATTT
		link(rel='stylesheet' href='./css/bootstrap.min.css')
		script(src="jquery-3.2.1.min.js")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		style body {padding-top: 50px;}
	body
		div.container
			h1
				text Giải toán chấm gà
				br
				hr
			h3
				a(href='/')
					span#faculty Số nguyên tố

				|  | 
				a(href='/rsa')
					span#school  RSA
				|  | 
				a(href='/ma_hoa_co_dien')
					span#university  Mã hóa cổ điển
				br
				br
			div.jumbotron
				h4 Tính modulo của phép lũy thừa
				div.panel.panel-default
					div.panel-body
						form(action='')
							text    &nbsp;&nbsp;&nbsp;
							input#number3( type = 'text' size = '6')
							text  ^ 
							input#pow( type = 'text' size = '6')
							text  mod 
							input#modulo( type = 'text' size = '6')
							text    &nbsp;
							input#sb3(type = 'button' value = 'submit')
						h4#result3
			div.jumbotron
				h4 Tính nghịch đảo modulo (tim b (=B2) sao cho a*b MOD n = 1)
				div.panel.panel-default
					div.panel-body
						form(action='')
							text    &nbsp;&nbsp;&nbsp;
							text  Nhap a 
							input#a( type = 'text' size = '6')
							text  Nhap n 
							input#n( type = 'text' size = '6')
							text    &nbsp;
							input#sb4(type = 'button' value = 'submit')
						h4#result4
	script.
		$(document).ready(() => {
			$('#sb3').click(abc = () => {
				let number = $('#number3').val();
				let pow = $('#pow').val();
				let modulo =$('#modulo').val();
				$.post('modulo_power_calculate', 'number='+number + '&pow=' + pow + '&modulo=' + modulo,(data, status) => {
					$('#result3').html(data);
				})
			})
			$('#sb4').click(abc = () => {
				let a = $('#a').val();
				let n = $('#n').val();
				$.post('tim_nghich_dao_modulo', 'n='+ n + '&a=' + a,(data, status) => {
					$('#result4').html(data);
				})
			})
		});